.detail-doctor-section {
    min-height: 80vh;
    padding: 10px;
    .intro-doctor {
        .avatar {
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            width: 150px;
            height: 150px;
        }
    }
}
