.home-header-container {
    height: 65px;
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #fff;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        .left-content {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 25px;
            color: grey;
            gap: 10px;
            .header-logo {
                background: url("../../assets/images/logo.png") center center no-repeat;
                height: 90%;
                width: 50%;
                background-size: contain;
                cursor: pointer;
                margin-left: 5px;
            }
            i {
                cursor: pointer;
            }
        }
        .center-content {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .child-content {
                .sub-title {
                    font-size: 14px;
                    color: grey;
                    font-weight: 4000;
                }
            }
        }
        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 40px;
            .support {
                cursor: pointer;
                display: flex;
                align-items: center;
                i {
                    font-size: 18px;
                }
            }
            .language {
                display: flex;
                align-items: center;
                gap: 10px;
                .language-vi {
                    cursor: pointer;
                }
                .language-en {
                    cursor: pointer;
                }
                .active {
                    font-weight: 700;
                    color: #00afaf;
                }
            }
        }
    }
}

.home-header-banner {
    background: url("../../assets/images//bookingcare-cover-4.jpg") center center no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: column;

    .background-blur {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 50%, rgba(225, 225, 225, 1) 100%);
    }

    .content-above {
        height: 50%;
        .banner-title-1 {
            font-size: 30px;
            text-align: center;
            text-shadow: 1px 1px 1px #000000;
            color: #fff;
            margin-bottom: 10px;
            z-index: 20;
            position: relative;
        }

        .banner-title-2 {
            position: relative;
            font-size: 35px;
            text-shadow: 1px 1px 1px #000000;
            text-align: center;
            color: #fff;
            z-index: 20;
            margin-bottom: 30px;
        }

        .search {
            z-index: 20;
            display: flex;
            justify-content: center;
            width: fit-content;
            align-items: center;
            margin: auto;
            padding: 10px;
            height: 50px;
            width: 500px;
            border-radius: 10px;
            color: #000;
            background-color: rgb(255, 193, 14);
            border-radius: 50px;
            input {
                font-size: 16px;
                padding: 0 5px;
                z-index: 20;
                outline: none;
                width: 100%;
                background-color: transparent;
                border: none;
            }
            i {
                margin: 0 5px;
            }
        }
    }

    .content-below {
        height: 50%;
        z-index: 20;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .options {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            .option-child {
                width: 150px;
                height: 120px;
                text-align: center;
                color: #000;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon-child {
                    background-color: #fff;
                    width: 60px;
                    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
                    height: 60px;
                    font-size: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #00dede;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                }
                .text-child {
                    font-size: 17px;
                    font-weight: 600;
                    margin-top: 10px;
                }
                &:hover {
                    cursor: pointer;
                    color: #006d70;
                }
            }
        }
    }
}
