@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .right-side {
        display: flex;
        align-items: center;
        gap: 20px;

        .language {
            display: flex;
            align-items: center;
            gap: 10px;
            .language-vi {
                cursor: pointer;
            }
            .language-en {
                cursor: pointer;
            }
            .active {
                font-weight: 700;
                color: #d4ff00;
            }
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}
